# Python builds and venv
__pycache__/
*.py[cod]

# Editor settings
.vscode/
.idea/

# OS clutter
.DS_Store
Thumbs.db

requirements.txt
logs

experiments/counts

experiments/counts_new

drivers/dr_DAQ_counter